In [1]:
import pandas as pd
from core import implementacaoBD
from core import interfaceFrontEnd
import passlib
from passlib.hash import pbkdf2_sha256 as sha

In [113]:
print(interfaceFrontEnd().cadastraLogin("oi", "tchau", 0))
print(interfaceFrontEnd().cadastraLogin("oi", "tchaau", 0))
print(interfaceFrontEnd().cadastraLogin("oii", "tchau", 0))

-2
-2
-2

   userID  permLvl matricula
0       1        0      None
1       2        0      None
2       3        0      None

In [114]:
interfaceFrontEnd().verificaLogin("oii", "tchau")

2

In [115]:
bd = implementacaoBD()

In [116]:
# Comente esta linha se quiser testar o resto com o "Run All"
bd.close()

In [120]:
# a = b64decode(bd.realizaQuery("""
# SELECT *
# FROM imageTable
# """)["imageBinary"].to_list()[0])

In [121]:
#help(b64decode)

In [122]:
bd.realizaQuery("""
SELECT *
FROM courseTable
""")

   materiaID codigoUFMG   nome nomeProfessor
0          1    codigo1  nome1         prof1
1          2    codigo2  nome2         prof2

In [123]:
print(bd.removeMateria(2))
bd.commit()

0

In [124]:
implementacaoBD().cadastraLogin("login", "senha")

-2

In [ ]:
implementacaoBD().realizaQuery("""
SELECT *
FROM loginTable
""")

In [129]:
bd.cadastraMateria("codigo1", "nome1", "prof1")
bd.cadastraMateria("codigo2", "nome2", "prof2")
bd.commit()

UNIQUE constraint failed: courseTable.codigoUFMG, courseTable.nomeProfessor

In [130]:
bd.cadastraLogin("login", "senha")
bd.commit()

In [131]:
bd.cadastraReview(1, 2, 20)
bd.commit()

In [133]:
query = """
SELECT *
FROM imageTable
"""
imgBin = pd.read_sql_query(query, bd.conn)["imageBinary"].to_list()[0]

with open("./temp/tempBD", "wb") as file:
    file.write(imgBin)

In [ ]:
query = """
SELECT *
FROM loginTable
"""
pd.read_sql_query(query, bd.conn)

In [135]:
bd.cadastraLogin("a", "b", 0)

-2

In [136]:
query = """
SELECT userID, count(*) as count
FROM loginTable
WHERE login="a" AND senha="b"
"""
pd.read_sql_query(query, bd.conn)

   userID  count
0       3      1