In [1]:
import pandas as pd
from core import implementacaoBD
from core import interfaceFrontEnd
import passlib
from passlib.hash import pbkdf2_sha256 as sha

In [113]:
print(interfaceFrontEnd().cadastraLogin("oi", "tchau", 0))
print(interfaceFrontEnd().cadastraLogin("oi", "tchaau", 0))
print(interfaceFrontEnd().cadastraLogin("oii", "tchau", 0))

-2
-2
-2

   userID  permLvl matricula
0       1        0      None
1       2        0      None
2       3        0      None

In [114]:
interfaceFrontEnd().verificaLogin("oii", "tchau")

2

In [115]:
bd = implementacaoBD()

In [116]:
# Comente esta linha se quiser testar o resto com o "Run All"
bd.close()

In [117]:
implementacaoBD().cadastraImagem(1, "dog.png", open("./temp/dog.png", "rb").read())

1

In [118]:
implementacaoBD().deletaImagem(1)

0

In [119]:
implementacaoBD().realizaQuery("""
SELECT *
FROM imageTable
""")

Empty DataFrame
Columns: [imageID, imageName, imageBinary]
Index: []

In [120]:
# a = b64decode(bd.realizaQuery("""
# SELECT *
# FROM imageTable
# """)["imageBinary"].to_list()[0])

In [121]:
#help(b64decode)

In [122]:
bd.realizaQuery("""
SELECT *
FROM courseTable
""")

   materiaID codigoUFMG   nome nomeProfessor
0          1    codigo1  nome1         prof1
1          2    codigo2  nome2         prof2

In [123]:
print(bd.removeMateria(2))
bd.commit()

0

In [124]:
implementacaoBD().cadastraLogin("login", "senha")

-2

In [125]:
implementacaoBD().realizaQuery("""
SELECT *
FROM loginTable
""")

,userID,login,senha,permLvl,imagem,matricula
0,1,$pbkdf2-sha256$29000$SQmhlNJaaw0hZCyF0Hpv7Q$fD...,$pbkdf2-sha256$29000$sDamFAKgFGJM6X1P6d07Zw$3c...,0,None,None
1,2,$pbkdf2-sha256$29000$p7R2LmWs9f5/j3Hu/T/n/A$/c...,$pbkdf2-sha256$29000$2TvHGINQinHuXeu9996b0w$82...,0,None,None
2,3,a,b,0,None,None

In [126]:
implementacaoBD().salvaImagemUsuario(1, "./doggo")

-3

In [127]:
aux = bd.realizaQuery("""
            SELECT imagem
            FROM loginTable
            WHERE userID = %d
            """%(1))["imagem"].to_list()

for elemento in aux:
    if elemento != None:
        print(elemento)

In [128]:
bd.deletaImagemUsuario(1)

0

In [129]:
bd.cadastraMateria("codigo1", "nome1", "prof1")
bd.cadastraMateria("codigo2", "nome2", "prof2")
bd.commit()

UNIQUE constraint failed: courseTable.codigoUFMG, courseTable.nomeProfessor

In [130]:
bd.cadastraLogin("login", "senha")
bd.commit()

In [131]:
bd.cadastraReview(1, 2, 20)
bd.commit()

In [132]:
bd.cadastraImagem(1, "dog.png", open("./temp/dog.png", "rb").read())

1

In [133]:
query = """
SELECT *
FROM imageTable
"""
imgBin = pd.read_sql_query(query, bd.conn)["imageBinary"].to_list()[0]

with open("./temp/tempBD", "wb") as file:
    file.write(imgBin)

In [134]:
query = """
SELECT *
FROM loginTable
"""
pd.read_sql_query(query, bd.conn)

,userID,login,senha,permLvl,imagem,matricula
0,1,$pbkdf2-sha256$29000$SQmhlNJaaw0hZCyF0Hpv7Q$fD...,$pbkdf2-sha256$29000$sDamFAKgFGJM6X1P6d07Zw$3c...,0,1.0,None
1,2,$pbkdf2-sha256$29000$p7R2LmWs9f5/j3Hu/T/n/A$/c...,$pbkdf2-sha256$29000$2TvHGINQinHuXeu9996b0w$82...,0,NaN,None
2,3,a,b,0,NaN,None

In [135]:
bd.cadastraLogin("a", "b", 0)

-2

In [136]:
query = """
SELECT userID, count(*) as count
FROM loginTable
WHERE login="a" AND senha="b"
"""
pd.read_sql_query(query, bd.conn)

   userID  count
0       3      1